<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">    
        <title>Job Tracker</title>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="shorcut icon" href="/Images/J-removebg.png">
    </head>

    <body>
        <div class="title-section">
            <h1 class="title"> Job Tracker</h1>
            <button class="account-button"> NB</button>
        </div>
        
        <div class="add-job-section">
            <button class="add-job">Add job</button>
            <button class="search-bar"></button>
            <button class="filter-bar"></button>
        </div>

        <div class="container">
            <div class="container-title">
                <h2>Company name</h2>
                <h2>Title</h2>
                <h2>Status</h2>
                <h2>Date applied</h2>
                <h2>Notes</h2>
            </div>
        </div>
    </body>
    
</html>