<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <title>Job Tracker - Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"> 
        <link rel="shortcut icon" href="{{ url_for('static', filename= '/Images/J-removebg.png') }}">
    </head>
    
    <body>
        <div class="container">
            <div class="login_body">
                <head>
                    <img class="logo-bg" src="{{ url_for('static', filename='Images/J-removebg.png') }}">
                    <h1 class="title">Job tracker</h1>
                </head>
                <form method="POST" action="{{ url_for('login')}}" id="loginForm">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="input-field" placeholder="Enter your username" name="username">
                    <div class="error-message" id="username-error"></div>
                
                    <label for="password">Password</label>
                    <input type="password" id="password" class="input-field" placeholder="Enter your password" name="password">
                    <div class="error-message" id="password-error"></div>
                
                    <div class="btn-container">
                        <button type="submit" class="login-btn">LOGIN <img src="{{ url_for('static', filename='/Images/right-arrow.png') }}" class="right-arrow-png"></button>
                    </div>
                </form>                
                <form method="GET" action="/sign_up">
                    <button type="submit" class="signup-btn">SIGN UP</button>
                </form>
            </div>  
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const flashData = JSON.parse('{{ session.pop("flash_message", "{}") | tojson | safe }}');
        
                if (flashData.message) {
                    const flashDiv = document.createElement("div");
                    flashDiv.classList.add("flash-message", flashData.category);
                    flashDiv.innerText = flashData.message;
                    document.body.appendChild(flashDiv);
        
                    // Auto-hide after 3 seconds
                    setTimeout(() => {
                        flashDiv.style.opacity = "0";
                        setTimeout(() => flashDiv.remove(), 500);
                    }, 3000);
                }
            });
        </script>
        
        
    </body>
</html>