<!DOCTYPE html>
<heml lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <title>Job Tracker</title>
        <link rel="stylesheet" href="/styles/global.css">
    </head>

    <body>
        <h1> Sign up to your track your jobs </h1>
        <div>
            <form>
                <label>Enter username:</label>
                <input type="text">
                <label>Enter email address:</label>
                <input type="email">
                <label>Enter your password:</label>
                <input type="password">
                <input type="submit" value="Sign up">
            </form>
        </div>
    </body>
</heml>