<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <title>Job Tracker</title>
        <link rel="stylesheet" href="/styles/signup.css">
        <link rel="shorcut icon" href="/Images/J-removebg.png">
    </head>

    <body>
        <div class="left-section">
            <img class="logo" src="/Images/J-removebg.png">
            <h1 class="main-title"> WELCOME <br> TO <br><i>JOB</i> TRACKER</h1>
        </div>
        
        
        <div class="sign-up-form">
            <h2 class="signup-title">SIGN UP</h2>
                <form>
                    <label for="signup-username">Username</label>
                    <input type="text" id="signup-username" class="input-field">

                    <label for="signup-email">Email</label>
                    <input type="email" id="signup-email" class="input-field">

                    <label for="signup-password">Password</label>
                    <input type="password" id="signup-password" class="input-field">

                    <label for="signup-confirm-password">Confirm Password</label>
                    <input type="password" id="signup-confirm-password" class="input-field">


                    <div class="signup-btn-container">
                        <button type="submit" class="signup-btn"> SIGN UP</button>
                        <button type="submit" class="login-btn"> LOGIN</button>
                    </div>
                    
                </form>
        </div>

    </body>
</html>